<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SampDemo</display-name>
  <welcome-file-list>
    <welcome-file>/S1.do</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>SecondServ</servlet-name>
  <servlet-class>SecondServ</servlet-class>
  <init-param>
  <param-name>Samsung C7 Pro</param-name>
  <param-value>24999</param-value>
  </init-param>
  <init-param>
  <param-name>Samsung C9 Pro</param-name>
  <param-value>31999</param-value>
  </init-param>
  </servlet>
 
  <servlet-mapping>
        <servlet-name>SecondServ</servlet-name>
        <url-pattern>/S2.do</url-pattern>
    </servlet-mapping>
</web-app>