<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d %/10p %C.%M:%L - %m%n"/> 
       </layout> 
    </appender>
 
  <appender name="htcLogFileAppender"  class="org.apache.log4j.FileAppender">
    <param name="file" value="htc.log" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
     <param name="ConversionPattern" value="%d %/10p %c.%M:%L - %m%n"/>
    </layout>
  </appender>


    <!-- specify the logging level for loggers from other libraries -->
    <logger name="com.htc.log4jex">
    	<level value="DEBUG" />
        <appender-ref ref="htcLogFileAppender" />
    </logger>

    <logger name="com.htc.log4j.utils">
    	<level value="DEBUG" />
        <appender-ref ref="htcLogFileAppender" /> 
    </logger>
  
   <!-- for all other loggers log only debug and above log messages -->
     <root>
        <priority value="OFF"/> 
        <appender-ref ref="STDOUT" /> 
     </root> 
    
</log4j:configuration> 
